<launch>

	<!-- launch motor controller -->
	<node pkg="motor_controller" type="motor_controller" name="motor_controller" />

	<!-- launch adapter with all kinematic controllers-->
	<node pkg="kinematic_controllers" type="controller_adapter" name="controller_adapter" />
	<node pkg="kinematic_controllers" type="wall_following_controller" name="wall_follower" output="screen" />

</launch>
